<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="text-align: center">Hello World</h1>
    <div th:if="${not #lists.isEmpty(schedule)}" style="margin: 0 auto">
        <table>
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Тип</th>
                    <th>Наименование</th>
                    <th>Преподаватель</th>
                    <th>Метоположение</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="day : ${schedule}">
                    <td th:text="${day.date}"></td>
                    <td th:text="${day.type}"></td>
                    <td th:text="${day.subject}"></td>
                    <td th:text="${day.teacher}"></td>
                    <td th:text="${day.location}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(schedule)}" style="text-align: center">
        <p>No events scheduled.</p>
    </div>
</body>
</html>